// Primary Colors
$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

// Neutral Colors
$neutral-blue-900: hsl(234, 12%, 34%);
$neutral-gray-blue: hsl(229, 6%, 66%);
$neutral-gray-light: hsl(0, 0%, 98%);

// Root (HTML Tag) Font Size
$root-font-size: 15px;